@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  height: -webkit-fill-available;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

body {
  position: fixed;
  inset: 0;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}
